<div id="nav-bottom">
  <div id="nav-bottom-left">
    <a href="" class="nav-bottom-a">
      Advertising
    </a>
    <a href="" class="nav-bottom-a">
      Business
    </a>
    <a href="" class="nav-bottom-a">
      About
    </a>
  </div>
  <div id="nav-bottom-right">
    <a href="" class="nav-bottom-a">
      Privacy
    </a>
    <a href="" class="nav-bottom-a">
      Terms
    </a>
    <a href="" class="nav-bottom-a">
      Settings
    </a>
    <a href="" class="nav-bottom-a">
      Use Google.com
    </a>
  </div>
</div>
